<section class="about">
  <div class="about__wrap">

<!--
   <blockquote>If you like football simulators, this website is for you.</blockquote>
<p>Why, have I created this website?</p>
   <p>Because, when I play  FIFA or PES with my friends, we always argue who will play Real Madrid or Barcelona, or other strong clubs. </p>
-->
   <h1 class="about__title">short guidance:</h1>
<ul>
   <li> choose the level and league of the football clubs</li>
   <li> choose amount of player</li>
   <li> push the "player+" button</li>
   <li> enter your name</li>
   <li> push the "calendar" button</li>
</ul>
</div>
</section>



